.paragraph-text{
    text-align: center;
}

.div_2, .navbar {
  flex: 1;
  text-align: center;
  background-color: #F1F3C2 !important;
}

.scrollspy-example{
  overflow: scroll; 
  max-height: 50vh; 
  overflow-x: hidden;
  background-color: #F1F3C2 !important;
}

.select_time{
  width:90px;
  height:35px;
  text-align:center;
  background-color: #E8B86D;
}

.cabecalho{
  background-color: #F1F3C2 !important;
}

.p-3{
  padding-top:0 !important;
}

.div_3{
  flex:1;
  display:flex;
  flex-direction: column;
}

.main_container{
  display:flex;
  flex-direction: column;
}

.div_2_3_container{
  display: flex;
  flex-direction: row;
}

.form-group {
    margin: auto;
    width: fit-content;
}

.form-group input {
    width: 450px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
}

.calendario {
    display: flex;
    flex-direction: column;
  }
  
.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #CEDF9F;
}

.dia_semana{
  width:45px;
  height:45px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 4px;
  font-size:x-large;
}

.month {
  flex: 0 0 100px; /* Ajuste conforme necessário */
}

.days {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  background-color: #CEDF9F;
}

.day {
  flex: 0 0 30px; /* Ajuste conforme necessário */
  text-align: center;
}

.btn-custom {
  transition: background-color 0.5s;
  width: 45px;
  height: 45px;
  padding: 0px;
  margin: 4px;
  background-color: #A1D6B2;
}
.btn-custom.pressed {
  background-color: rgba(0, 0, 0, 0.700);
  color: white;
}

.days-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.horario_evento{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.container_horarios{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit_button{
  text-align: center;
  margin: 10px;
  flex: 1;
}

.hour{
  margin: 1px;
  padding: 5px;
  aspect-ratio: 1/1;
  align-content: center;
}

.hour_event_container{
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.days-event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hour_event{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.minute{
  width: 58px;
  text-align: center;
  background-color: #F1F3C2
}

.hour_selected {
  background-color: rgb(23, 133, 23);
}

.hour_display {
  display:flex;
  flex-direction: row;
}

.days_hours_blocks {
  margin-right:3px
}

.date_text {
  text-align: right;
}

.div_container{
  display:flex
}

.div1, .div3{
  flex:3
}

.div2{
  flex:2;
  display:flex;
  flex-direction: column;
}

.event_name, .qtd_pessoas, .ruler_qtt{
  text-align: center;
}

.container_regua_temp{
  display:flex;
  justify-content: center;
  align-items: center;
}


div {
  outline: 1px dashed blue; /* Dashed blue outline */
}

body, header{
  background-color: #CEDF9F !important;
  color:black;
}

.active{
  background-color: #E8B86D !important;
  color:black !important;
}

.pressed{
  background-color: #E8B86D !important;
}

.nav-link{
  color:black;
}
