<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css">
  
  <title>Vou ver e te aviso</title>
</head>

<body>
    <!--HTML Header-->
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <!--website home-->
        <a class="navbar-brand" href="#">Vou ver e te aviso</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!--NavBar item ABOUT-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="about.html" id="about">About</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- MAIN -->
  <main>
    <div class="div_container">
      <!-- DIV 1 -->
      <div class="div1">
        <!--Texto descritivo do que é para fazer-->
        <p id="introducao" class="paragraph-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, sunt ipsa officiis nam saepe veniam
          obcaecati. Quas temporibus molestiae maiores similique cumque illum ullam nesciunt! Nulla earum ea blanditiis
          provident.
        </p>

        <!--Form 1 com nome do evento-->
        <!-- jinja { {url_for("criar_evento")} } -->
        <form action="/process-data" method="post" id="criar_evento">
          <div class="form-group">
            <input type="text" id="event_name" name="event_name" placeholder="Nome do evento" title="Digite o evento a ser criado">
          </div>

          <!--Segundo texto-->
          <p class="paragraph-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique numquam nulla ea itaque id inventore
            temporibus odio blanditiis, repellat, placeat illo molestias eaque! Dolorum ea non reiciendis impedit
            similique dolores?
          </p>

          <!-- HORARIO EVENTO -->
          <div id="horario_evento" class="hour_form_container">
            <!-- EVENTO COMEÇARA -->
            <div id="evento_comecara">
              <!-- TITULO -->
              <div class="paragraph-text">Evento começará às: </div>
              
              <!-- FORM 2 (PRIMEIRO SELECT) -->
              <div class="horario">
                  <select id="hour_1" name="hour_1" onchange="salvar_horaMin('hour_1')">
                    <option selected>Horas</option>

                    <!--Loop generated hours-->
                    {% for value in range(24) %}
                      <option value="{{value}}">{{ value }}</option>
                    {% endfor %}

                  </select>
              </div>
              
              <!-- (SELECT MINUTO INICIO) -->
              <div class="horario">
                <select id="min_1" name="min_1" onchange="salvar_horaMin('min_1')">
                  <option selected>Minutos</option>

                  {% for value in range(6) %}
                    <option value="{{value * 10}}">{{ value * 10 }}</option>
                  {% endfor %}

                </select>
              </div>
            </div>
            
            <!-- EVENTO TERMINARA -->
            <div id="evento_terminara">
              <div class="paragraph-text">Evento terminará às: </div>

              <!-- (PRIMEIRO SELECT) -->
              <div class="horario">
                <select id="hour_2" name="hour_2" onchange="salvar_horaMin('hour_2')">
                  <option selected>Horas</option>

                  {% for value in range(24) %}
                    <option value="{{value}}">{{ value }}</option>
                  {% endfor %}

                </select>
              </div>

              <!-- (SEGUNDO SELECT) -->
              <div class="horario">
                <select id="min_2" name="min_2" onchange="salvar_horaMin('min_2')">
                  <option selected>Minutos</option>

                  {% for value in range(6) %}
                    <option value="{{value * 10}}">{{ value * 10 }}</option>
                  {% endfor %}

                </select>
              </div>
            </div>
          </div>
          <div class="submit_button">
            <button type="submit" id="botao_hora">Criar evento</button>
          </div>
          
        </form>

        <!-- Navegador do Calendario -->
        <nav id="navbar-calendario" class="navbar bg-body-tertiary px-3 mb-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="#month_0"> {{ excl_months[0] }} </a></li>
            <li class="nav-item"><a class="nav-link" href="#month_1"> {{ excl_months[1] }} </a></li>
            <li class="nav-item"><a class="nav-link" href="#month_2"> {{ excl_months[2] }} </a></li>
            <li class="nav-item"><a class="nav-link" href="#month_3"> {{ excl_months[3] }} </a></li>
            
            <!---dropdown-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="False">Prox
                meses</a>
              <ul class="dropdown-menu">
                {% for i in range(4, 12) %}
                <li><a class="dropdown-item" href="#month_{{ i }}"> {{ excl_months[i] }} </a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
        
        <!--Cabeçalho da semana (D,S,T,Q,..)-->
        <table id="cabecalho_calendario" class="calendario">
          <tr style="background-color: rgb(243, 110, 110);">
            {% for cal_item in calendar_header %}
            <td>
              {{ cal_item }}
            </td>
            {% endfor %}
          </tr>
        </table>
        
        <!--Formatação do calendário-->
        <div data-bs-spy="scroll" data-bs-target="#navbar-calendario" data-bs-root-margin="0px 0px -40%"
          data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">

          <!-- Calendário -->
          <div class="calendario">
            {% set ns = namespace(counter=0) %}
            {% for i in range(num_rows) %}
            <div class="row" style="background-color: rgb(233, 167, 167)">
              <!--Texto com o mês daquela semana ex: jun/jul ---->
              <div class="month">
                {% if bool_list[i] %}
                <div id="month_{{ ns.counter }}">
                  {{ monthlist[i] }}
                </div>
                {% set ns.counter = ns.counter + 1 %}
                {% else %}
                <div>
                  {{ monthlist[i] }}
                </div>
                {% endif %}
              </div>

              <!--Dias do calendário-->
              <div class="days">
                {% for y in range(7) %} <!-- Dias em divs -->
                <button type="button" class="btn btn-outline-dark btn-lg btn-custom toggleButton" aria-pressed="false"
                  month="{{ month_of_the_day[i][y] }}" day="{{ weeklist[i][y] }}">
                  {{ weeklist[i][y] }}
                </button>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- DIV 2 -->
      <div class="div2">
        Div 2

        <h5>Days Selected:</h2>
          <div id="days_and_hours_container">
            <div class= "days-container" id="days-container"></div>
            <button type="submit" id="botao_hora" form="event_name">Ainda n faz nada</button>
          </div>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <footer>
    <!--fazer um about-->
  </footer>

  <script src="../static/script.js"></script>
</body>

</html>